<div class="grid">
  <div class="navbar bg-base-100  w-screen">
    <div class="flex-1">
      <img src="https://ignug.yavirac.edu.ec/assets/images/web/logo_login.png" width="60px" height="30px"/>
      <a class="btn btn-ghost normal-case text-xl">CECY</a>
    </div>
    <div class="flex-none gap-2">
      <div class="dropdown dropdown-end">
        <label tabindex="0" class="btn btn-ghost btn-circle avatar">
          <div class="w-10 rounded-full">
            <img src="/images/stock/photo-1534528741775-53994a69daeb.jpg" />
          </div>
        </label>
        <ul tabindex="0" class="mt-3 p-2 shadow menu menu-compact dropdown-content bg-base-100 rounded-box w-52">
          <li>
            <a class="justify-between">
              Profile
              <span class="badge">New</span>
            </a>
          </li>
          <li><a>Settings</a></li>
          <li><a>Logout</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="background bg-gray-100 h-full px-12">
<br/>
  <div class="group bg-base-100 shadow-xs rounded-box ">
    <h1 class=" p-7 text-2xl font-bold align-middle" >Registrar Asistencia</h1>
  </div>
<br/>
<div class="text-sm breadcrumbs">
  <ul>
    <li><a>Home</a></li>
    <li><a>Documents</a></li>
    <li>Add Document</li>
  </ul>
</div>
<br/>
  <div class="botones">
    <button class="btn btn-accent">Regresar</button>
    <button class="btn btn-accent">Refrescar</button>
    <label for="my-modal-ca-6" fill="none" class="btn border-transparent btn-info">Crear </label>

    <!-- Put this part before </body> tag -->
    <input type="checkbox" id="my-modal-ca-6" class="modal-toggle" />
    <div class="modal modal-bottom sm:modal-middle">
      <div class="modal-box">
        <h3 class="font-bold text-lg">Crear Asistencia</h3>

        <div class="form-control">
            <label class="nota py-2.5">Duración:</label>
            <input type="text" placeholder="Minutos de la clase" class="input input-bordered input-md" />
        </div>

        <div class="form-control">
          <label class="nota py-2.5">Fecha:</label>
          <input type="date" class="input input-bordered input-md" />
      </div>
        <div class="modal-action">
          <label for="my-modal-ca-6" class="btn bg-secondary w-full border-transparent">Crear</label>
        </div>
      </div>
    </div>


    <button class="btn btn-info" routerLink="../registrofotografico">Registro Fotográfico </button>
  </div>
<br/>

<div class="overflow-x-auto">
  <table class="table w-full">
    <thead>
      <tr>
        <th>Fecha</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>00/00/0000</td>
        <td>
          <label for="my-modal-6" fill="none" class="btn btn-circle bg-primary border-transparent">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" /></svg>
        </label>
        <label for="my-modal-6" fill="none" class="btn btn-circle bg-error border-transparent">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" /></svg>
        </label>
      </td>
      </tr>
      <tr>
        <td>00/00/0000</td>
        <td>
          <label for="my-modal-6" fill="none" class="btn btn-circle bg-primary border-transparent">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" /></svg>
        </label>
        <label for="my-modal-6" fill="none" class="btn btn-circle bg-error border-transparent">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" /></svg>
        </label>
      </tr>
      <tr>
        <td>00/00/0000</td>
        <td>
          <label for="my-modal-6" fill="none" class="btn btn-circle bg-primary border-transparent">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" /></svg>
        </label>
        <label for="my-modal-6" fill="none" class="btn btn-circle bg-error border-transparent">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" /></svg>
        </label>
      </tr>
      <tr>
        <td>00/00/0000</td>
        <td>
          <label for="my-modal-6" fill="none" class="btn btn-circle bg-primary border-transparent">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" /></svg>
        </label>
        <label for="my-modal-6" fill="none" class="btn btn-circle bg-error border-transparent">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" /></svg>
        </label>
      </tr>
      <tr>
        <td>00/00/0000</td>
        <td>
          <label for="my-modal-6" fill="none" class="btn btn-circle bg-primary border-transparent">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" /></svg>
        </label>
        <label for="my-modal-6" fill="none" class="btn btn-circle bg-error border-transparent">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" /></svg>
        </label>
      </tr>
      <tr>
        <td>00/00/0000</td>
        <td>
          <label for="my-modal-6" fill="none" class="btn btn-circle bg-primary border-transparent">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" /></svg>
        </label>
        <label for="my-modal-6" fill="none" class="btn btn-circle bg-error border-transparent">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" /></svg>
        </label>
      </tr>
    </tbody>
  </table>
</div>









<br/>

  </div>

</div>
