<div class="grid">
  <div class="navbar bg-base-100  w-screen">
    <div class="flex-1">
      <img src="https://ignug.yavirac.edu.ec/assets/images/web/logo_login.png" width="60px" height="30px"/>
      <a class="btn btn-ghost normal-case text-xl">CECY</a>
    </div>
    <div class="flex-none gap-2">
      <div class="dropdown dropdown-end">
        <label tabindex="0" class="btn btn-ghost btn-circle avatar">
          <div class="w-10 rounded-full">
            <img src="/images/stock/photo-1534528741775-53994a69daeb.jpg" />
          </div>
        </label>
        <ul tabindex="0" class="mt-3 p-2 shadow menu menu-compact dropdown-content bg-base-100 rounded-box w-52">
          <li>
            <a class="justify-between">
              Profile
              <span class="badge">New</span>
            </a>
          </li>
          <li><a>Settings</a></li>
          <li><a>Logout</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="background bg-gray-100 h-full px-12">
    <br/>
    <div class="group bg-base-100 shadow-xs rounded-box ">
      <h1 class=" p-5 text-2xl font-bold align-middle" >Listado de estudiantes</h1>
      <h3 class=" pl-5 pb-5 text-x font-bold align-middle" >P=Presente   F=Falta   J=Justificado</h3>
    </div>
  <br/>
  <div class="text-sm breadcrumbs">
    <ul>
      <li><a>Home</a></li>
      <li><a>Documents</a></li>
      <li>Add Document</li>
    </ul>
  </div>
  <br/>
  <div class="botones">
    <button class="btn btn-accent">Regresar</button>
    <button class="btn btn-accent">Refrescar</button>
    <button class="btn btn-accent">Guardar</button>
  </div>
  <br/>
  <div class="overflow-x-auto">
    <table class="table w-full">
      <!-- head -->
      <thead>
        <tr>
          <th>Nombres</th>
          <th>P</th>
          <th>F</th>
          <th>J</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Leslie Abigail Campo</th>
          <td><input type="radio" name="radio-1" class="radio"/></td>
          <td><input type="radio" name="radio-2" class="radio"/></td>
          <td><input type="radio" name="radio-3" class="radio"/></td>
          <!-- <th><button class="btn btn-accent">Guardar</button></th> -->
        </tr>
        <tr>
          <th>Leslie Abigail Campo</th>
          <td><input type="radio" name="radio-4" class="radio"/></td>
          <td><input type="radio" name="radio-5" class="radio"/></td>
          <td><input type="radio" name="radio-6" class="radio"/></td>
        </tr>
        <tr>
          <th>Leslie Abigail Campo</th>
          <td><input type="radio" name="radio-7" class="radio"/></td>
          <td><input type="radio" name="radio-8" class="radio"/></td>
          <td><input type="radio" name="radio-9" class="radio"/></td>
        </tr>
        <tr>
          <th>Leslie Abigail Campo</th>
          <td><input type="radio" name="radio-10" class="radio"/></td>
          <td><input type="radio" name="radio-12" class="radio"/></td>
          <td><input type="radio" name="radio-11" class="radio"/></td>
        </tr>
      </tbody>
    </table>
    <br/><br/>
  </div>

  </div>






</div>
