<div class="grid">
  <div class="grid grid-cols-2 bg-base-100 shadow-xs rounded-box ">
    <div class="form-control p-5">
      <div class="input-group">
        <input type="text" placeholder="Buscar mis cursos" class="input input-bordered" />
        <button class="btn btn-square">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" /></svg>
        </button>
      </div>
    </div>
    <div class="grid place-items-left flex-1 p-5">
      <select class="select select-ghost w-60 border-slate-300">
        <option disabled selected>Selecciona un periodo</option>
        <option>Periodo Lectivo 2022-II</option>
        <option>Periodo Lectivo 2022-I</option>
        <option>Periodo Lectivo 2021-II</option>
        <option>Periodo Lectivo 2021-I</option>
      </select>
    </div>
  </div><br/>

  <div class="grid grid-cols-3 grid-flow-row gap-2 justify-items-center">
    <div class="card w-90 bg-base-100 shadow-xl">
      <figure><img src="https://ignug.yavirac.edu.ec/assets/images/web/logo_login.png" alt="img-course" width="160px" height="40px"/></figure>
      <div class="card-body">
        <h1 class="card-title">NOMBRE DEL CURSO</h1>
        <h5>CODIGO</h5>
        <h5>PERIODO LECTIVO</h5>
        <h5>MODALIDAD</h5>
        <div class="card-actions justify-end">
          <button class="btn btn-primary" icon="edit">Detalles</button>
        </div>
      </div>
    </div>
  </div>
</div>


