
  <div class="navbar bg-base-100  w-screen" id="cecy">
    <div class="flex-1" id="cecy">
      <img src="https://ignug.yavirac.edu.ec/assets/images/web/logo_login.png" width="60px" height="30px"/>
      <a class="btn btn-ghost normal-case text-xl">CECY</a>
    </div>
    <div class="flex-none gap-2" id="cecy">
      <div class="dropdown dropdown-end">
       
        
      </div>
    </div>
  </div>

  <div class="text-sm breadcrumbs" id="cecy">
    <ul>
      <li><a>  ㅤㅤㅤㅤㅤCursos</a></li>
      <li><a>Listado de estudiantes</a></li>
    </ul>
  </div>
  <div class="background bg-gray-100 h-full px-12">
<br/>
  <div class="group bg-base-100 shadow-xs rounded-box" id="titulo">
    <h1 class=" p-7 text-2xl font-bold align-middle" >Listado Estudiantes</h1>
  </div>
<br/>

<br/>
  <div class="botones">
    <button class="btn btn-alert" routerLink = "/curso">Regresar</button>
    ㅤㅤㅤㅤㅤ
    <button class="btn btn-accent" onclick="location.href = location .href">Refrescar</button>
    ㅤㅤㅤㅤㅤ
    <label for="my-modal-ca-6" fill="none" class="btn border-transparent btn-info"  routerLink = "/asistencia">Asistencia </label>
</div>
<br>
<mat-form-field>
  <mat-label>Buscar Estudiante</mat-label>
  <input
    matInput
    (keyup)="applyFilter($event)"
    placeholder="Nombre o cedula"
    #input
  />
</mat-form-field>
ㅤㅤㅤㅤㅤ
<mat-form-field>
  <mat-label>Buscar por estado</mat-label>
  <input
    matInput
    (keyup)="applyFilter($event)"
    placeholder="Aprobado o Reprobado"
    #input
  />
</mat-form-field>
<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" id="titulo">
  <ng-container matColumnDef="cedula">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordenar por Cedula">
      Cedula
    </th>
    <td mat-cell *matCellDef="let element">
      {{ element.cedula }}
    </td>
  </ng-container>

  <ng-container matColumnDef="nombres">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordenar por nombre">
      Nombre
    </th>
    <td mat-cell *matCellDef="let element">{{ element.nombreEstudiante }}</td>
  </ng-container>

  <ng-container matColumnDef="nota1">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordenar por primerParcial">
      Nota Parcial 1
    </th>
    <td mat-cell *matCellDef="let element">{{ element.nota1 }} </td>
  </ng-container>

  <ng-container matColumnDef="nota2">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordenar por segundo Parcial">
      Nota Parcial 2
    </th>
    <td mat-cell *matCellDef="let element">{{ element.nota2 }}</td>
  </ng-container>

  <ng-container matColumnDef="notaFinal">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordenar por notaFinal">
      Nota Final
    </th>
    <td mat-cell *matCellDef="let element">{{ element.notafinal }}</td>
  </ng-container>

  <ng-container matColumnDef="estado">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordenar por segundo Parcial">
      Estado
    </th>
    <td mat-cell *matCellDef="let element">
      {{ element.estado }}
    </td>
  </ng-container>

  <ng-container matColumnDef="acciones">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordenar por estado">
      Editar Nota
    </th>
    <td mat-cell *matCellDef="let element">
      <label for="my-modal-6" class="btn"> ✏️ </label>

      <!-- Put this part before </body> tag -->
      <input type="checkbox" id="my-modal-6" class="modal-toggle" />
      <div class="modal modal-bottom sm:modal-middle">
        <div class="modal-box">
          <h3 class="font-bold text-lg">Notas del estudiante</h3>
<!-- MODIFICACION DE LA NOTA DEL ESTUDIANTE -->
          <div class="form-control">
            <label class="nota py-2.5" type="number" maxlenght="3">Nota parcial 1:</label>
            <input type="text" placeholder="Ingrese la nota" class="input input-bordered input-md" pattern="[0-9]{1,3}"
              [(ngModel)]="element.nota1" #numInput="ngModel">
            <div *ngIf="numInput.invalid && numInput.touched">
              <p>El valor debe ser un número entre 0 a 100 y no letras.</p>
            </div>
          </div>
<!-- MODIFICACION DE LA NOTA DEL ESTUDIANTE -->

          <div class="form-control">
            <label class="nota py-2.5" type="number" maxlenght="3">Nota parcial 2:</label>
            <input type="text" placeholder="Ingrese la nota" class="input input-bordered input-md" pattern="[0-9]{1,3}"
              [(ngModel)]="element.nota2" #numInput="ngModel">
            <div *ngIf="numInput.invalid && numInput.touched">
              <p>El valor debe ser un número entre 0 a 100 y no letras.</p>
            </div>
          </div>
          <div class="modal-action">
            <label for="my-modal-6" class="btn">Cerrar</label>
            <label (click)="printForm(element)" for="my-modal-6" class="btn">Guardar</label>
          </div>
        </div>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
  aria-label="Siga a la siguiente pagina para ver mas estudiantes">
</mat-paginator>