<div class="grid">
  <div class="navbar bg-base-100  w-screen">
    <div class="flex-1">
      <img src="https://ignug.yavirac.edu.ec/assets/images/web/logo_login.png" width="60px" height="30px"/>
      <a class="btn btn-ghost normal-case text-xl">CECY</a>
    </div>
    <div class="flex-none gap-2">
      <div class="dropdown dropdown-end">
        <label tabindex="0" class="btn btn-ghost btn-circle avatar">
          <div class="w-10 rounded-full">
            <img src="/images/stock/photo-1534528741775-53994a69daeb.jpg" />
          </div>
        </label>
        <ul tabindex="0" class="mt-3 p-2 shadow menu menu-compact dropdown-content bg-base-100 rounded-box w-52">
          <li>
            <a class="justify-between">
              Profile
              <span class="badge">New</span>
            </a>
          </li>
          <li><a>Settings</a></li>
          <li><a>Logout</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="background bg-gray-100 h-screen px-12">
    <br/>
  <div class="group bg-base-100 shadow-xs rounded-box ">
    <h1 class=" p-7 text-2xl font-bold align-middle" >Registro Fotográfico</h1>
  </div>
    <br/>
    <div class="text-sm breadcrumbs">
      <ul>
        <li><a>Home</a></li>
        <li><a>Documents</a></li>
        <li>Add Document</li>
      </ul>
    </div>
    <br/>
    <div class="botones">
      <button class="btn btn-accent" routerLink="../asistencia">Regresar</button>
    </div>
    <br/>
    <div class="group bg-base-100 shadow-xs rounded-box ">
      <h1 class=" p-7 text-s font-bold align-middle" >Carpeta de drive:
        <a href="https://www.youtube.com/watch?v=vsPwwNvvl34&list=TLPQMDIwMjIwMjPMcbWjNY7dTQ&index=6" class="btn btn-link">Carpeta de Registro Fotográfico</a>
       </h1>
      <h3 class=" pl-7 pb-5 text-s font-bold align-middle" >Ingresar con el siguiente formato: Numerodesemana.jpg</h3>
    </div>
</div>
