<div class="container">
    <div class="group bg-base-100 shadow-xs rounded-box ">
      <h1 class=" p-7 text-2xl font-bold" >MIS CURSOS</h1>
    </div>

    <app-card (termEmitter)="findByName($event)" (termEmitter)="findBySchoolPeriod($event)"></app-card>



    <div class="grid">
        <div class="grid grid-cols-4 grid-flow-row gap-2 justify-items-center ">
          <div class="card-body w-120 bg-base-100 shadow-xl rounded-xl " *ngFor="let curso of cursoList">
            <h1 class="card-title" >{{curso.name}}</h1>
            <h5 >CODIGO DEL CURSO :  {{curso.codeCourse}}</h5>
            <h5 >MODALIDAD DEL CURSO :  {{curso.modality}}</h5>
            <h5 >PERIODO LECTIVO :  {{curso.schoolPeriod}}</h5>
            <div class="card-actions justify-end">
              <button class="btn btn-primary" icon="edit" routerLink="/students-list">Detalles</button>
            </div>
          </div>
        </div><br/>
      </div>
    <br/><br/>
    <footer class="footer footer-center p-3 bg-base-300 text-base-content">
      <div>
        <p>Copyright © 2023 - Instituto Tecnológico Superior de Patrinomio y Turismo YAVIRAC</p>
      </div>
    </footer>
</div>
